<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
안녕하세요 저희 프로젝트에요<br>
<br><br>

1.src/main/java<br>
디폴트로 사용할 4개의 패키지인 controller, service, entity, mapper만 일단 만들어놨습니다.<br>
각 역할에 대해 아직 모르시는 분은 숙지해주세요.<br>
<br>
2.src/main.resources<br>
 - mybatis : mapper.xml이 위치하는 곳입니다. 이 위치를 mapper.xml이 있는 곳으로 기본적으로 인식하도록 application.properties에 설정해놨어요(13번 라인)
   <br>mybatis generator 1.4.2 -> Marketplace에서 플러그인 설치해주세요<br>
 <br>
 - static : 정적리소스(css,js,images...)가 위치하는 곳입니다.<br>
   spring-boot에서는 자동으로 static 폴더를 정적리소스가 위치하는 곳으로 인식을 해줍니다.<br>
   만약, test.js파일을 html에서 불러오신다고 하면<br>
   <script src="/js/test.js"></script><br>
   이런식으로 /static을 제외하고 src에 넣으시면 됩니다. 그럼 boot가 알아서 인식해줍니다. <br>
   마찬가지로 css나 images를 불러오실 때도 /css/test.css, /images/test.jpg 와 같이 경로를 써주시면 됩니다.<br>
   * 혹시 html파일을 생성하려했는데 안 보이시는 분들은 Eclipse Enterprise Java and Web Developer Tools 3.32 플러그인을 설치하시면 됩니다<br>
   <br>
 - templates : view가 위치하는 곳입니다. thymeleaf를 사용하기 때문에 html파일만 위치합니다.<br>
   페이지별로 폴더를 나누어 놓았습니다.<br>
   admin : 관리자 페이지의 html이 위치하는 곳<br>
   counselor : 상담사 페이지의 html이 위치하는 곳<br>
   user : 일반 페이지의 html이 위치하는 곳<br>
   layouts : 페이지에 공통으로 사용하는 html이 위치하는 곳(header, copyright 등)<br>
   
   
</body>
</html>