<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>게시판 글 수정</title>
    <link href="/css/bootstrap/bootstrap.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/home.css" rel="stylesheet">
    <link href="/css/board.css" rel="stylesheet">
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />

    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js" defer></script>
    <script src="/js/editor.js" defer></script>
    <script src="/js/board.js" defer></script>
</head>
<body>
<header th:replace="~{/layouts/counselorHeader.html :: header}"></header>

<article class="container_layout">
    <nav th:replace="~{/layouts/counselorBoardLnb.html :: boardLnb}"></nav>
    
    <section class="contents">
        <form id="boardModifyForm">
            <h4 th:text="${boardName}" class="board_title"></h4>
            <input type="hidden" id="boot" name="boardId" th:value="${boardId}" />
            <input type="hidden" name="pstNo" th:value="${getModifyView.pstNo}" />
            <div class="table_conatiner">
                <table class="form_write">
                    <colgroup>
                        <col style="width: 150px; background-color: #f1f1f1;">
                        <col style="width: auto;">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th><label for="title">제목</label></th>
                            <td>
                                <input type="text" th:value="${getModifyView.pstTtl}" id="title" name="title" placeholder="제목을 입력하세요" required>
                            </td>
                        </tr>
                        <tr th:if="${getAuthrt=='A' || getAuthrt=='M'}">
                            <th><label for="author">게시여부</label></th>
                            <td>
                                <label><input type="checkbox">게시안함</label>
                                <label><input type="checkbox">고정</label>
                            </td>
                        </tr>
                        <tr>
                            <th><label for="author">게시판 분류</label></th>
                            <td>
                                <select id="category" name="category" class="category" required>
                                 <option th:selected="${getModifyView.getCtgry == ''}" value="" disabled>카테고리를 선택하세요</option>
								    <option th:selected="${getModifyView.getCtgry == 'C3010'}" value="C3010">심리상담</option>
								    <option th:selected="${getModifyView.getCtgry == 'C3011'}" value="C3011">익명상담</option>
								    <option th:selected="${getModifyView.getCtgry == 'C3012'}" value="C3012">위기상담</option>
								    <option th:selected="${getModifyView.getCtgry == 'C3020'}" value="C3020">진로상담</option>
								    <option th:selected="${getModifyView.getCtgry == 'C3021'}" value="C3021">취업상담</option>
								    <option th:selected="${getModifyView.getCtgry == 'C3022'}" value="C3022">교수상담</option>
								    <option th:selected="${getModifyView.getCtgry == 'C3023'}" value="C3023">학습컨설팅</option>
								    <option th:selected="${getModifyView.getCtgry == 'C3030'}" value="C3030">또래상담</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th><label for="author">작성자</label></th>
                            <td><input type="text" id="author" th:value="${getModifyView.pblrNm}" readonly="readonly" name="author" placeholder="작성자를 입력하세요" required></td>
                        </tr>
                        <tr>
                            <th><label for="content">내용</label></th>
                            <td>
                                <div id="editor"></div> 
                            </td>
                        </tr>
                        <tr>
                            <th><label for="content">첨부파일</label></th>
                            <td><span th:text="${getModifyView.getFileNm}"></span></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="form-buttons">
                                <button type="submit" class="btn btn-success" id="modify">저장</button>
                                <button type="button" class="btn btn-secondary" onclick="cancel()">취소</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </section>
</article>

<footer th:replace="~{/layouts/counselorCopyright.html :: footer}"></footer>
<script>
const originalContent = '[[${getModifyView.pstCn}]]'; 
</script>
<script src="/js/userBoardModify.js"></script>
</body>
</html>
