<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>환영합니다 챗봇입니다</title>
<link href="../css/bootstrap/bootstrap.css" rel="stylesheet" crossorigin="anonymous">
<link href="../css/chatbot.css" rel="stylesheet">
<script src="https://t1.kakaocdn.net/kakao_js_sdk/v1/kakao.js"></script>
<script src="/js/chatbot.js"></script>
</head>
<body>
<header>
    <div class="header-content">
        <p>챗봇</p>
        <img src="/images/user/chatbot_home.png" id="chatbot_home">
    </div>
</header>
<main id="chatbot_contents">
	<div style="height: 50px;"></div>
	<section class="home-chatbot">
		<div class="home-chatbot-ment">
			<h4>환영합니다!</h4>
			<span>무엇이 궁금하신가요?</span>
		</div>
		<div class="home-chatbot-btn">
			<button type="button" class="btn business_hour">운영 시간</button>
			<button type="button" class="btn directions">오시는 길</button>
			<button type="button" class="btn faq">FAQ</button>
			<button type="button" class="btn chat_kakao">카카오톡 상담사 연결</button>
		</div>
	</section>
</main>
</body>
</html>