@charset "UTF-8";

#new_time > option:disabled{
	background-color: #ddd;
}

.down_img{
	width:24px; height:15px; margin-left: -5px; margin-top: -2px;
}

.file_box{
	background-color: #ddd;
	width: 100%;
	height: 46px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
.board_title {
    border-bottom: 1px solid #111;
    margin-bottom: 20px;
    line-height: 1.8;
    text-transform : uppercase;
}

/* 테이블 스타일 */
.responsive_table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.responsive_table thead {
    background-color: var(--gray-color);
    color: #fff;
}

.responsive_table tr {cursor : pointer;}

.responsive_table th, .responsive_table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.responsive_table td a {color : #000;}
.responsive_table td a:hover {color : #000; text-decoration : unset;}

.responsive_table th {
    font-weight: bold;
}

.table_containter .btn_area {margin : 25px 0; text-align : right;}

/* 테이블 스타일 */
.form_write {
    width: 100%;
    border-collapse: collapse;
}

.form_write td,.form_write th {
    padding: 10px 0;
    vertical-align: top;
}

.form_write.view .editor_contents{min-height : 200px;}

#editor {
    min-height: 200px; /* 에디터의 최소 높이 설정 */
    margin-top: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    width : 100%;
}
.form_write th label {min-width : 150px;}
.form_write td .category {margin-right : 5px;}
.form_write td label + label {margin-left : 10px;}
.form_write td label input[type='checkbox'] {margin-right : 5px;}

.form_write label {
    font-weight: bold;
    color: #333;
}
.form_write input[type="text"],.form_write input[type="date"], .form_write textarea, .form_write select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f9f9f9;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.form_write input[type="date"]::-webkit-calendar-picker-indicator {cursor : pointer}
.form_write input[type="text"][readonly] {background-color : #ddd; border : 0;}

.form_write select {max-width : 250px;}
.form_write label:has(input[type='checkbox']) {margin-bottom : 0;}

.form_write textarea {
    resize: none;
}

.search_container {margin : 20px 0; display : flex; justify-content:end; font-size : 0;}

.search_container input[type='text']{ 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
    background-color: #f9f9f9;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.search_container select {
	width: 240px;
	height : 46px;
    padding: 0px 10px;
    margin-right: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f9f9f9;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.search_button {
    background-color: #bbb;
    color: white;
    border: 0;
    border-radius: 0 4px 4px 0;
    padding : 0 10px;
    width : 46px; height : 46px;
    font-size: 16px;
    cursor: pointer;
}

.cate_search_container {margin : 20px 0; display : flex; justify-content:space-between; font-size : 0;}

.cate_search_container input[type='text']{ 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
    background-color: #f9f9f9;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.cate_search_container select {
	width: 240px;
	height : 46px;
    padding: 0px 10px;
    margin-right: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f9f9f9;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.cate_search_button {
    background-color: #bbb;
    color: white;
    border: 0;
    border-radius: 0 4px 4px 0;
    padding : 0 10px;
    width : 46px; height : 46px;
    font-size: 16px;
    cursor: pointer;
}

.form-buttons {text-align: center;}
.form-buttons:has(.between) .between {display :flex; justify-content:space-between; align-items:center;}
.form-buttons:has(.between) .between:has(span:only-child) {justify-content:end;}

/* table faq */
 .details-row {
    display: none; /* Hide details by default */
    background-color: #ddd;
    border-top: 1px solid #ddd;
    overflow: hidden; /* To handle animation */
    transition: max-height 0.3s ease-out; /* Animation effect */
    max-height: 0; /* Initially hide content */
}
.details-row.show {
    display: table-row;
}

.details-row p {margin : 0;}

.expandable {
    cursor: pointer;
}


/* 페이지 네비게이션 스타일 */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom : 50px;
}

.pagination_button {
    background-color: #aaa;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.pagination_button:hover {
    background-color: #555;
}

.pagination_button:disabled {
    background-color: #ddd;
    color: #aaa;
    cursor: not-allowed;
}


/* 반응형 */
@media screen and (max-width: 768px) {
    .responsive_table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
    
    .responsive_table colgroup {display : none;}
    
    .responsive_table {display : table; width : 100%;}
    
    .responsive_table thead {
        display: none;
    }
    
    .responsive_table tr {
        display: block;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 8px;
        background-color: #fff;
    }
    
    .responsive_table td {
        display: block;
        text-align: right;
        padding-left: 50%;
        position: relative;
        white-space :normal;
    }
    
    .responsive_table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        height: calc(100% - 20px);
        padding: 0 10px;
        background-color: #f4f4f4;
        font-weight: bold;
        text-align: left;
        border-right: 1px solid #ddd;
    }
    
    .search_container input {
        width: 100%;
        margin-right: 0;
    }

    .search_container {
        flex-direction: column;
    }
    
    .search_container select {width : 100%;}
    .search_container > div {display : flex; padding-top : 5px;}
    
    .pagination_button {
        padding: 8px 12px;
        font-size: 14px;
    }
    
    .form_write th,.form_write td {display : block;}
    .form_write tr td:first-child {padding-bottom : 0;}
    .form_write tr td:last-child {padding-top : 0;}
    .form_write select {max-width : unset;}
    
}