@charset "UTF-8";

.modal.chat .modal-body { height: calc(100vh - 250px); overflow-y: auto; position : relative; padding-bottom : 60px;}
.modal.chat .modal-body .chat-text {position : absolute; left : 0; bottom : 0; width : 100%; padding : 10px 1rem; display : flex; align-items:center; justify-content:space-between;
border-top : var(--bs-modal-footer-border-width) solid var(--bs-modal-footer-border-color);
}
.modal.chat .modal-body .chat-text input[type='text'] {
	height: 38px;
    line-height: 38px;
    width: calc(100% - 68px);
    border-radius: 10px;
    border: 1px solid #999;
    padding: 0 10px;
    box-sizing: border-box;
}

.modal.chat .modal-header {background-color : #004080; color : #fff;}
.modal.chat .modal-header button {filter: invert(1) brightness(1);}
.modal.chat .modal-footer a {width : 100%;}

