@charset "UTF-8";

:root{
	--main-color: #126940;
}


header {background-color : var(--main-color); display: flex; justify-content:space-between; align-items:center;}
header > .nav a {color : #fff;}
header > .nav .dropdown-item {color : black;}
header > .nav a:hover {text-decoration : none;}
header .menu {padding: .5rem 1rem;}
header .nav .nav-link {padding : 1.2rem 1rem;}
header .nav > ul.nav .dropdown .dropdown-menu {margin : 0;}
header .nav > ul.nav .dropdown:hover > ul {display : block;}

header .side_area a { color : black;}
header .side_area .menu {position : relative; z-index : 1; cursor : pointer;}
header .side_area .menu img {width : 35px; height : 35px;}
header .side_area ul.nav{width : 30%; max-width : 400px; height : 100%;background-color : #eee;position : fixed;top : 0; right : 0;flex-direction: column;padding-top : 62px;transform: translateX(100%);transition : 0.5s;}
header .side_area ul.nav.show {transform: translateX(0%);right: 0;left: unset;}
header .side_area ul.nav .dropdown .dropdown-menu {width: 100%;border-radius: 0;position : relative;top : 0; border : 0;}
header .side_area ul.nav .dropdown >a:hover + ul {display : none;} 

header .side_area .nav .nav-link {padding : 0.5rem 1rem; font-weight : 600;}
header .side_area .dropdown-item:hover {background-color : transparent;}


@media (max-width: 768px) {
	header .nav > ul.nav {display : none;}
	header .side_area ul.nav {width : 100%; max-width : unset;}
}