@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.filters {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#boardSelect, #searchInput, #searchButton {
    margin-right: 10px;
}

#boardSelect {
    padding: 5px;
    font-size: 14px;
}

#searchInput {
    padding: 5px;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#searchButton {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #45a049;
}

.write-post {
    margin-left: auto;
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
}

.write-post:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f9f9f9;
}

td {
    vertical-align: middle;
}

.edit-button, .delete-button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.edit-button {
    background-color: #4CAF50;
}

.edit-button:hover {
    background-color: #45a049;
 
}

.delete-button {
    background-color: white;
    color : #f44336;
    border : 1px solid #f44336;
}

.delete-button:hover {
    background-color: #e53935;
    color : white;	
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.page-button {
    padding: 8px 12px;
    margin: 0 2px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

.page-button:hover {
    background-color: #e0e0e0;
}

.page-button.active {
    background-color: #4CAF50;
    color: white;
}




/* Modal 팝업 스타일 */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 56px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    
}

.modal-content {
    background-color: #fefefe;
	margin : 20px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    max-width: 900px;
    height: auto;
    max-height: 90%;
    border-radius: 8px;
    overflow-y: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-group input[type="text"], 
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#editor, #editEditor { /* 에디터와 수정 에디터에 동일한 스타일을 적용 */
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#addAttachment {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#addAttachment:hover {
    background-color: #45a049;
}

.submit-button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

.submit-button:hover {
    background-color: #45a049;
}

.bi-trash-fill:hover{
	cursor : pointer;
	color : #e53935;
}

