
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .calendar {
            width: 90%;
            margin: auto;
            padding: 20px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .calendar-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: 20px;
        }
        .calendar-header-left {
            display: flex;
            align-items: center;
        }
        .calendar-header-right {
            display: flex;
            align-items: center;
        }
        .calendar-title {
            flex: 1;
    		text-align: center;
   			font-size: 20px;
        }
        .calendat-title.btn {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            border: none;
            background: none;
            color: #333;
        }
        .calendar-table {
            width: 100%;
            border-collapse: collapse;
        }
        .calendar-table th, .calendar-table td {
            border: 1px solid;
            border-color: #ADADAD;
            padding: 2px;
            text-align: center;
            vertical-align: top;
        }
        .calendar-table th {
            background-color: #126940;
            color: white;
        }
        .calendar-table th.time-column {
            width: 120px;
        }
        .appointment {
            padding: 2px;
            border-radius: 3px;
            color: white;
            text-align: left;
            font-size: 12px;
            height: 100%;
        }
        .appointment-time, .appointment-name {
            display: block;
        }
        .appointment-type {
            display: block;
            margin-top: 2px;
        }
        .today {
            background-color:#e0e0e0;
            font-weight: bold;
        }
        .calendar-table td {
            height: 60px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .student_info{
            display: flex;
 		    justify-content: space-between;
    		align-items: center;
        }
        .appointment-type.info{
        	text-align: right;
        }