<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.counseling.cms.repo.Dscsn_Aply_Info_Repo">
<select id="dscsn_Aply_List" resultType="com.counseling.cms.dto.Stdnt_Dscsn_join_dto">
select * from VIEW_DSCSN_APLY_INFO 
<where>
<choose>
<when test="keyword!=null and type.equals('FLNM')">
FLNM LIKE CONCAT('%', #{keyword}, '%') and DSCSN_YN='N'
</when>
<when test="keyword!=null and type.equals('STDNT_NO')">
STDNT_NO LIKE CONCAT('%', #{keyword}, '%') and DSCSN_YN='N'
</when>
<otherwise>
DSCSN_YN='N'
</otherwise>
</choose>
</where>
 order by APLY_NO desc
</select>

</mapper>