<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initical-scale=1.0">
<title>Insert title here</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link href="/css/bootstrap/bootstrap.css" rel="stylesheet" crossorigin="anonymous">
<link href="/css/home.css" rel="stylesheet">
<link href="/css/board.css" rel="stylesheet">
<link href="/css/herosection.css" rel="stylesheet">
<script src="/js/jquery.js"></script>
<script src="/js/board.js"></script>

</head>
<body>
<header th:replace="~{/layouts/counselorHeader.html :: header}"></header>
<main>
		<header class="hero-section">
        <div class="hero-content">
            <h1>센터소개</h1>
        </div>
    </header>
	<article class="container_layout">
		<nav th:replace="~{/user/userBoardLnb.html :: userboardLnb}"></nav>
		<section class="contents">		
			<div th:replace="~{/user/organization/organiaztionchart.html :: userOrganizationContents}"></div>
		</section>
	</article>
	<div th:replace="~{/layouts/chatbot.html :: chatbot}"></div>
</main>
<footer th:replace="~{/layouts/counselorCopyright.html :: footer}"></footer>
</body>
</html>