
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Access Denied</title>


    

    <!-- Bootstrap core CSS -->
<link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="/css/cover.css" rel="stylesheet">
  </head>
  <body class="text-center">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
	<h3 class="masthead-brand"><img src="/images/logo2.png" width=200 height=50 class="text-center"  style="display:flex; justify-content: center; align-items: center; margin: 50px 0 0 200px;"></h3>
    </div>
  </header>

  <main role="main" class="inner cover" style="margin-top:200px;"> 
    <h1 class="cover-heading" style="font-size: 2.2rem; font-weight: 800;">해당 페이지는 접근하실 수 없습니다.</h1>
    <p class="lead">현재 접속하신 페이지에 대한 접근 권한이 없습니다.😝 <br> 가능한 아이디로 로그인 해주시기를 바랍니다.</p>
    <p class="lead">
      <a href="/admin/login" class="btn btn-lg btn-secondary">로그인 페이지</a>
    </p>
  </main>

  <footer class="mastfoot mt-auto">
  </footer>
</div>


    
  </body>
</html>
