<!DOCTYPE html>
<html th:fragment="main" lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="fragments/header :: head"></th:block>
    </head>
    <body class="sb-nav-fixed">
        <th:block th:replace="fragments/header :: nav"></th:block>
        
        <div id="layoutSidenav">
            <th:block th:replace="fragments/sidebar :: sidebar"></th:block>
            
            <div id="layoutSidenav_content">
                <main>
                    <th:block th:replace="${pageContent}"></th:block> <!-- 페이지마다 변경될 콘텐츠 -->
                </main>
                
                <th:block th:replace="fragments/footer :: footer"></th:block>
            </div>
        </div>
    </body>
</html>
