<header th:fragment="header">
	<div class="container_layout">
		<nav class="nav">
			<a class="nav-link logo" href="/"><img alt=""
				src="/images/logo-header.png"> </a>
			<ul class="nav nav-underline" id="major_menu"></ul>
		</nav>

		<div class="side_area">
			<p id="login_icon">
				<a href="/user/login"><img alt="로그인" src="/images/counselor/basic-login.svg"></a>
			</p>
			<p id="logout_icon" style="display : none;">
				<a href="/user/logoutok"><img alt="로그아웃" src="/images/counselor/basic-logout.svg"></a>
			</p>
			<div class="menu">
				<img alt="" src="/images/counselor/header-menu.svg">
			</div>
			<div class="shownav">
				<div class="menu">
					<img alt="" src="/images/counselor/header-menu.svg">
				</div>
				<ul class="nav nav-underline" id="navmajor_menu"></ul>
			</div>
		</div>
	</div>
<script src="/js/counselorHeader.js"></script>

</header>

