<header th:fragment="header">
	<div class="container_layout">
		<nav class="nav">
			<a class="nav-link logo" href="/"><img alt=""
				src="/images/logo-header.png"> </a>
			<ul class="nav nav-underline">
				<li class="nav-item dropdown"><a class="nav-link"
					aria-current="page" href="/user/main/introduction">센터소개</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="/user/main/introduction">센터소개</a></li>
						<li><a class="dropdown-item" href="/user/main/jobintrodution">업무소개</a></li>
						<li><a class="dropdown-item" href="/user/main/organizationchart">조직도(구성원)</a></li>
						<li><a class="dropdown-item" href="/user/main/userDirections">찾아오는길</a></li>
					</ul></li>
				<li class="nav-item dropdown"><a class="nav-link"
					aria-current="page" href="#">심리상담</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="/user/counseling/counseling">심리상담</a></li>
						<li><a class="dropdown-item" href="/user/counseling/anonymity">익명상담</a></li>
						<li><a class="dropdown-item" href="/user/counseling/emergency">위기상담</a></li>
					</ul></li>
				<li class="nav-item dropdown"><a class="nav-link" href="#"
					role="button" aria-expanded="false">학업상담</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="/user/academic/career">진로상담</a></li>
						<li><a class="dropdown-item" href="/user/academic/job">취업상담</a></li>
						<li><a class="dropdown-item" href="/user/academic/professor">교수상담</a></li>
						<li><a class="dropdown-item" href="/user/academic/consulting">학업 컨설팅</a></li>
					</ul></li>
				<li class="nav-item dropdown"><a class="nav-link" href="#">기타상담</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="/user/etc/peer">또래상담</a></li>
					</ul></li>
				<li class="nav-item"><a class="nav-link" href="/user/main/self_diagnosis">자가진단</a></li>
				<li class="nav-item dropdown"><a class="nav-link" href="#">게시판</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="/board/notice/list">공지사항</a></li>
						<li><a class="dropdown-item" href="/board/faq/list">FAQ</a></li>
						<li><a class="dropdown-item" href="/board/review/list">상담후기</a></li>
						<li><a class="dropdown-item" href="/board/inquiry/list">문의게시판</a></li>
						<li><a class="dropdown-item" href="/board/dataroom/list">자료실</a></li>
						<li><a class="dropdown-item" href="/board/program/list">상담
								프로그램</a></li>
					</ul></li>
				<li class="nav-item"><a class="nav-link" href="/user/mypage">마이페이지</a></li>
			</ul>
		</nav>

		<div class="side_area">
			<p id="login_icon">
				<a href="/user/login"><img alt="로그인" src="/images/counselor/basic-login.svg"></a>
			</p>
			<p id="logout_icon" style="display : none;">
				<a href="/user/logoutok"><img alt="로그아웃" src="/images/counselor/basic-logout.svg"></a>
			</p>
			<div class="menu">
				<img alt="" src="/images/counselor/header-menu.svg">
			</div>
			<div class="shownav">
				<div class="menu">
					<img alt="" src="/images/counselor/header-menu.svg">
				</div>
				<ul class="nav nav-underline">
					<li class="nav-item dropdown"><a class="nav-link"
						aria-current="page" href="#">센터소개</a>
						<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="/user/main/introduction">센터소개</a></li>
						<li><a class="dropdown-item" href="/user/main/jobintrodution">업무소개</a></li>
						<li><a class="dropdown-item" href="/user/main/organizationchart">조직도(구성원)</a></li>
						<li><a class="dropdown-item" href="/user/main/userDirections">찾아오는길</a></li>
						</ul></li>
					<li class="nav-item dropdown"><a class="nav-link"
						aria-current="page" href="#">심리상담</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="/user/counseling/counseling">심리상담</a></li>
							<li><a class="dropdown-item" href="/user/counseling/anonymity">익명상담</a></li>
							<li><a class="dropdown-item" href="/user/counseling/emergency">위기상담</a></li>
						</ul></li>
					<li class="nav-item dropdown"><a class="nav-link" href="#"
						role="button" aria-expanded="false">학업상담</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="/user/academic/career">진로상담</a></li>
							<li><a class="dropdown-item" href="/user/academic/job">취업상담</a></li>
							<li><a class="dropdown-item" href="/user/academic/professor">교수상담</a></li>
							<li><a class="dropdown-item" href="/user/academic/consulting">학업 컨설팅</a></li>
						</ul></li>
					<li class="nav-item dropdown"><a class="nav-link" href="/user/etc/peer">기타상담</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="/user/etc/peer">또래상담</a></li>
						</ul></li>
				<li class="nav-item"><a class="nav-link" href="/user/main/self_diagnosis">자가진단</a></li>
					<li class="nav-item dropdown"><a class="nav-link" href="#">게시판</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="/board/notice/list">공지사항</a></li>
							<li><a class="dropdown-item" href="/board/faq/list">FAQ</a></li>
							<li><a class="dropdown-item" href="/board/review/list">상담후기</a></li>
							<li><a class="dropdown-item" href="/board/inquiry/list">문의게시판</a></li>
							<li><a class="dropdown-item" href="/board/dataroom/list">자료실</a></li>
							<li><a class="dropdown-item" href="/board/program/list">상담
									프로그램</a></li>
						</ul></li>
				<li class="nav-item"><a class="nav-link" href="/user/mypage">마이페이지</a></li>
				</ul>
			</div>
		</div>
	</div>
<script src="/js/counselorHeader.js"></script>
</header>