<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>게시판 view</title>
<link href="/css/bootstrap/bootstrap.css" rel="stylesheet"
	crossorigin="anonymous">
<link href="/css/home.css" rel="stylesheet">
<link href="/css/board.css" rel="stylesheet">
<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />

<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js" defer></script>
<script src="/js/editor.js" defer></script>
<script src="/js/board.js"></script>

</head>
<body>
<header th:replace="~{/layouts/counselorHeader.html :: header}"></header>

<article class="container_layout">
    <td class="side_nav" th:if="${boardId=='counselorBoard'}">
        <nav th:replace="~{/layouts/counselorLnb.html :: counselorLnb}"></nav>
    </td>
    <td class="side_nav" th:if="${boardId!='counselorBoard'}">
        <nav th:replace="~{/layouts/counselorBoardLnb.html :: boardLnb}"></nav>
    </td>
	
	<section class="contents">
		<h4 th:text="${boardName}" class="board_title"></h4>
		<div class="table_conatiner">
            <table class="form_write view">
        	    <colgroup>
                    <col style="width: 150px; background-color: #f1f1f1;">
                    <col style="width: auto;">
                </colgroup>
                <tbody>
                    <tr>
                        <th><label for="title">제목</label></th>
                        <td th:text="${getBoardView.pstTtl}"></td>
                    </tr>
                    <tr>
                        <th><label for="author">작성자</label></th>
                        <td th:text="${getBoardView.pblrNm}"></td>
                    </tr>
                    <tr>
                        <th><label for="content">내용</label></th>
                        <td>
                        	<div class="editor_contents">
                        		[[${getBoardView.pstCn}]]
                        	</div>
                        </td>
                    </tr>
							 <tr th:if="${comment != null and !comment.isEmpty()}">
							    <th><label for="comment">답변</label></th>
							    <td th:text="${comment}"></td>
							</tr>
                        <th><label for="content">첨부파일</label></th>
                        <td th:if="${getBoardView.fileNm != null}">
					        <u style="cursor: pointer;"><span th:text="${#strings.substringBefore(getBoardView.fileNm, '.')}"
					        th:attr="data-file-seq=${getBoardView.fileSeq}, date-file-name=${getBoardView.fileNm}"
					        onclick="downloadFile(this)" ></span></u>
    					</td>
                        <th th:text="파일없음" th:if="${getBoardView.fileNm==null}"></th>
                    </tr>
                    <tr>
                        <td colspan="2" class="form-buttons">
                        	<div class="between">
	                        	<span class="left">
		                        	<a class="btn btn-secondary" href="./list">목록</a>
	                            </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
		</div>
	</section>
</article>

<footer th:replace="~{/layouts/counselorCopyright.html :: footer}"></footer>
</body>
<script src="/js/userBoardView.js"></script>
</html>