<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta name="viewport" content="width=device-width, initical-scale=1.0">
<meta charset="UTF-8">
<title>학업 컨설팅 페이지</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link href="/css/bootstrap/bootstrap.css" rel="stylesheet" crossorigin="anonymous">
<link href="/css/herosection.css" rel="stylesheet">
<link href="/css/home.css" rel="stylesheet">
<script src="/js/jquery.js"></script>
<script src="/js/counseling.js" defer></script>
</head>
<body>
<header th:replace="~{/layouts/counselorHeader.html :: header}"></header>
			<header class="hero-section">
        <div class="hero-content">
            <h1>학업상담</h1>
        </div>
    </header>
	<main>
	<article class="container_layout">
	<nav class="side_navbar">
	<p class="title">학업상담</p>
	<ul>
	  <li><a href="/user/academic/career">진로상담</a></li>
	  <li><a href="/user/academic/job">취업상담</a></li>
	  <li><a href="/user/academic/professor">교수상담</a></li>
	  <li class="selected"><a>학업 컨설팅</a></li>
	</ul>
	</nav>
	<div>
		<h5 class="text-center mt-5"><strong>학업 컨설팅</strong></h5><br>
		
		<div class="card mb-3 mx-5" style="max-width: 100%;">
  <div class="row no-gutters">
    <div class="col-md-2">
      <img src="/images/user/academic4.png" style="max-width: 100%;" class="p-3">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title pl-5">학업 컨설팅</h5>
        <p class="card-text px-5">학업 컨설팅은 학생이나 학습자가 자신의 학업 목표를 달성하고, 학습 성과를 향상시키기 위해 전문적인 조언과 지원을 받는 과정입니다. 학업 컨설팅은 교육과정, 학습 전략, 시간 관리, 학습 스타일, 성적 향상 등 다양한 학업 관련 문제를 다룹니다.</p>
      </div>
    </div>
  </div>
</div>
		
		<p class="p-5">상담을 신청하려면 아래의 버튼을 클릭하시기 바랍니다.</p>
		<span class="d-flex justify-content-center">
		<button type="button" class="btn btn-secondary" th:value="${code}" onclick="application(this.value)">상담신청</button>
		</span>
	</div>
	</article>
	<div th:replace="~{/layouts/chatbot.html :: chatbot}"></div>
	</main>
	<footer th:replace="~{/layouts/counselorCopyright.html :: footer}"></footer>
</body>
<script>

</script>
</html>