<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link href="/css/bootstrap/bootstrap.css" rel="stylesheet" crossorigin="anonymous">
<link href="/css/home.css" rel="stylesheet">
<script src="/js/jquery.js"></script>

</head>
<body>
	<header th:replace="~{/layouts/header.html :: header}"></header>
	<div th:replace="~{/layouts/userBanner.html :: userbanner}"></div>
	<main>
	<article class="container_layout">
	<nav class="side_navbar">
	<p class="title">심리상담</p>
	<ul>
	  <li class="selected"><a>심리상담</a></li>
	  <li><a href="/user/counseling/anonymity">익명상담</a></li>
	  <li><a href="/user/counseling/emergency">위기상담</a></li>
	</ul>
	</nav>
	<div>
		<h5 class="text-center mt-5"><strong>심리상담</strong></h5><br>
		
		<div class="card mb-3 mx-5" style="max-width: 100%;">
  <div class="row no-gutters">
    <div class="col-md-2">
      <img src="/images/user/counseling1.png" style="max-width: 100%;" class="p-3">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title pl-5">심리상담</h5>
        <p class="card-text px-5">혼자 해결하기 힘든 어려움이 있을 때, 상담자와 함께 문제해결을 하기 위한 자기 이해 및 성장의 과정입니다. 상담자와 일대일로 진행되며 여러 회기 동안 지속적으로 진행되기 때문에 여러문제에 대해 전문적이고도 심층적인 도움을 받을 수 있습니다.</p>
      </div>
    </div>
  </div>
</div>
		
		<p class="p-5">상담을 신청하려면 아래의 버튼을 클릭하시기 바랍니다.</p>
		<span class="d-flex justify-content-center">
		<button type="button" class="btn btn-secondary">상담신청</button>
		</span>
	</div>
	</article>
	</main>
	<footer th:replace="~{/layouts/copyright.html :: footer}"></footer>
</body>
</html>