<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Insert title here</title>
    <link href="/css/bootstrap/bootstrap.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/herosection.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">
    <link href="/css/board.css" rel="stylesheet">
    <script src="/js/board.js"></script>
</head>
<body>
    <header th:replace="~{/layouts/counselorHeader.html :: header}"></header>
    <header class="hero-section">
        <div class="hero-content">
            <h1>게시판</h1>
        </div>
    </header>
    <article class="container_layout">
        <nav th:replace="~{/layouts/counselorBoardLnb.html :: boardLnb}"></nav>
        
        <section class="contents">
            <h4 th:text="${boardName}" class="board_title"></h4>
            <div class="table_container">
                <table class="responsive_table">
                    <colgroup>
                        <col class="col1" style="width: 10%;">
                        <col class="col2" style="width: auto;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                        </tr>
                    </thead>
                    <tbody th:each="List, Stat : ${getList}">
                        <tr class="expandable" onclick="toggleDetails(this)">
                            <td th:text="${total - (currentPage - 1) * size - Stat.index}" data-label="ID"></td>
                            <td th:text="${List.faqPstTtl}" data-label="제목"><a href="#none"></a></td>
                        </tr>
                        <tr class="details-row" style="display: none;">
                            <td colspan="2">
                                <p th:text="${List.faqPstCn}"></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="pagination">
                <button class="pagination_button" id="prevButton" onclick="goToPage(currentPage - 1)">이전</button>
                <span id="pageNumbers"></span>
                <button class="pagination_button" id="nextButton" onclick="goToPage(currentPage + 1)">다음</button>
            </div>
        </section>
    </article>

    <footer th:replace="~{/layouts/counselorCopyright.html :: footer}"></footer>

    <script>
        // Thymeleaf 변수 초기화
        const currentPage = "[[${currentPage}]]";
        const totalItems = "[[${total}]]";
        const size = "[[${size}]]";
        const boardId = '[[${boardId}]]'; 

        function toggleDetails(row) {
            const detailsRow = row.nextElementSibling; // 다음 형제 요소(세부정보 행)
            if (detailsRow.style.display === "none" || detailsRow.style.display === "") {
                detailsRow.style.display = "table-row"; // 세부정보 표시
            } else {
                detailsRow.style.display = "none"; // 세부정보 숨기기
            }
        }
    </script>
    <script src="/js/board.js"></script>
	<script src="/js/boardList.js"></script>
</body>
</html>