<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>상담 신청 리스트</title>
<link href="/css/bootstrap/bootstrap.css" rel="stylesheet"
	crossorigin="anonymous">
<link href="/css/home.css?v=1" rel="stylesheet">
<link href="/css/board.css" rel="stylesheet">
<script src="/js/board.js"></script>

</head>
<body>
	<header th:replace="~{/layouts/counselorHeader.html :: header}"></header>

	<article class="container_layout">
		<nav th:replace="~{/layouts/counselorLnb.html :: counselorLnb}"></nav>

		<section class="contents" style="text-align: right;">
			<h4 style="text-align: left;" class="board_title" th:text="'상담 신청 리스트(총 ' + ${totalList} + ' 명)'"></h4>
			<div class="cate_search_container">
				<select id="category">
					<option value="A" th:selected="${category eq 'A'}">모두보기</option>
					<option value="B" th:selected="${category eq 'B'}">상담전</option>
					<option value="C" th:selected="${category eq 'C'}">상담완료</option>
					<option value="S" th:selected="${category eq 'S'}">상담중지</option>
				</select>
				<div>
					<input type="text" id="search_input" placeholder="이름을 입력하세요." th:value="${searchValue}">
					<button id="search_button" class="search_button">
					<img src="/images/counselor/search.svg">
					</button>
				</div>
			</div>
			<div class="table_containter">
				<table class="responsive_table">
					<colgroup>
						<col class="col1" style="width: 15%;">
						<col class="col2" style="width: 15%;">
						<col class="col1" style="width: 8%;">
						<col class="col1" style="width: 17%;">
						<col class="col1" style="width: 25%;">
						<col class="col1" style="width: 20%;">
					</colgroup>
					<thead>
						<tr>
							<th>현황</th>
							<th>상담자 이름</th>
							<th>성별</th>
							<th>학번</th>
							<th>이메일</th>
							<th>연락처</th>
						</tr>
					</thead>
					<tbody id="counselee_list">
						<tr th:if="${totalList == 0}"><td style="text-align: center;" colspan="6">신청된 상담이 없습니다.</td></tr>
						<tr th:each="list:${counseleeList}" th:value="${list.getApplyNo}">
							<td data-label="현황"> 
							<div th:class="'counselling_status ' + 
                   			(${list.getProgressStatus eq 'C'} ? 'done' : '') +
                   			(${list.getProgressStatus eq 'S'} ? 'stop' : '') +
                   			(${list.getProgressStatus eq 'B'} ? 'before' : '')"
        					th:text="${list.getProgressStatus eq 'C' ? '상담완료' : 
                   			list.getProgressStatus eq 'S' ? '상담중지' : 
                   			list.getProgressStatus eq 'B' ? '상담전' : ''}">
    						</div><a href="./view?no=1"></a></td>
    						<td data-label="이름" th:text="${list.getStudentName}"></td>
							<td data-label="성별" th:text="${list.getStudentGender eq 'M' ? '남' : '여'}"></td>
							<td data-label="학번" th:text="${list.getStudentNo}"></td>
							<td data-label="이메일" th:text="${list.getStudentEmail}"></td>
							<td data-label="연락처" th:text="${list.getStudentTelNo}"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="pagination">
				<button class="pagination_button" id="prevButton"
					onclick="prevPage()">이전</button>
				<button class="pagination_button" th:each="page:${#numbers.sequence(1,totalPage)}" th:text="${page}"></button>
				<button class="pagination_button" id="nextButton"
					onclick="nextPage()">다음</button>
			</div>
			<button class="btn btn-secondary" style="margin-top: -166px;" id="go_list">목록</button>
		</section>

	</article>
	<footer th:replace="~{/layouts/counselorCopyright.html :: footer}"></footer>
</body>
<script src="/js/counseleeList.js"></script>
</html>