<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>상담 일지</title>
<link href="/css/bootstrap/bootstrap.css" rel="stylesheet" crossorigin="anonymous">
<link href="/css/monthlyCalendar.css" rel="stylesheet">
<link href="/css/home.css" rel="stylesheet">
<link href="/css/board.css" rel="stylesheet">
<script src="/js/jquery.js"></script>
<script src="/js/board.js"></script>

</head>
<body>
<header th:replace="~{/layouts/counselorHeader.html :: header}"></header>

<article class="container_layout">
	<nav th:replace="~{/layouts/counselorLnb.html :: counselorLnb}"></nav>
	<section class="contents">
		<h4 class="board_title"><b th:text="${applyList.getStudentName}"></b>학생의 신청 내역</h4>
		<input type="hidden" id="record_count" th:value="${recordCount}">
		<input type="hidden" id="record_date" th:if="${recordCount != 0}"  th:value="${recordList.getWriteDate.split(' ')[0]}">
		<input type="hidden" id="today" th:value="${today.split(' ')[0]}">
		<input type="hidden" id="tomorrow" th:value="${tomorrow.split(' ')[0]}">
		<div class="table_conatiner">
            <table class="form_write">
                <tbody> 
                    <tr>
                        <td><label for="consultation_category">상담 분류</label></td>
                        <td>
                        	<input type="text" id="consultation_category" th:value="${applyList.getConsultationCategory}"  readonly>
                       	</td>        
                       	<td><label for="student_number" style="padding: 0px 5px;">학번</label></td>
                        <td>
                        	<input type="text" id="student_no" th:value="${applyList.getStudentNo}" readonly>
                       	</td>
                    </tr>
                    <tr>
                         <td><label for="consultation_way">상담 방식</label></td>
                        <td>
                        	<input type="text" th:value="${applyList.getConsultationWay}"  readonly>
                       	</td>
                       	<td><label for="major" style="padding: 0px 5px;">학과</label></td>
                        <td>
                        	<input type="text" th:value="${applyList.getStudentMajor}"  readonly>
                       	</td>
                    </tr>
                    <tr>
                       <td><label for="consultation_time">상담 일시</label></td>
                        <td>
                        	<input type="hidden" id="consultation_date" th:value="${applyList.getConsultationDate}">
                        	<input type="text"  th:value="${applyList.getConsultationDate.split(':')[0]}+':'+${applyList.getConsultationDate.split(':')[1]}"  readonly>
                       	</td>
                       	<td><label for="tel_number" style="padding: 0px 5px;">연락처</label></td>
                        <td>
                        	<input type="text" th:value="${applyList.getStudentTelNo}"  readonly>
                       	</td>
                    </tr>
                                        <tr>
                       <td><label for="progress">진행 상태</label></td>
                        <td>
                        	<input type="text"
                        	th:value="${applyList.getProgressStatus eq 'C' ? '상담 완료' : 
                   			applyList.getProgressStatus eq 'S' ? '상담 중지' : 
                   			applyList.getProgressStatus eq 'B' ? '상담 전' : ''}" readonly>
                       	</td>
                       	<td><label for="email" style="padding: 0px 5px;">이메일</label></td>
                        <td>
                        	<input type="text" th:value="${applyList.getStudentEmail}"  readonly>
                       	</td>
                    </tr>
                    <tr>
                       <td><label for="file">첨부 파일</label></td>
                         <td th:if="${fileList.size != 0}">
                        	<div class="file_box">
                        		<span th:each="file, iterStat : ${fileList}">
    								 <u><span class="file" th:text="${file.getFileName()}" th:attr="data-file-path=${file.getFilePath()}
    								 , date-file-name=${file.getFileName()}" onclick="viewFile(this)" style="cursor: pointer;"></span></u>
             						<img src="/images/download.svg" class="down_img" 
             							th:attr="data-file-seq=${file.getUuid()}, date-file-name=${file.getFileName()}" onclick="downloadFile(this)">
        							<span th:if="${!iterStat.last}">, </span> <!-- 마지막 요소가 아닐 경우에만 쉼표 추가 -->
								</span>
                        	</div>
                       	</td>
                       	<td th:if="${fileList.size == 0}"> <div class="file_box">첨부파일 없음</div></td>
                       	<td><label for="gender" style="padding: 0px 5px;">성별</label></td>
                        <td>
                        	<input type="text" th:value="${applyList.getStudentGender eq 'M' ? '남' : '여'}"  readonly>
                       	</td>
                    </tr>
                    <tr>
                        <td><label for="content">내용</label></td>
                        <td colspan="4">      
                        <div class="input-group mb-3">
  						<input type="text" class="form-control"  style="height: 46px;"
  						th:value="${applyList.getApplyContent.length>19 ? applyList.getApplyContent.substring(0,40)+'...' : applyList.getApplyContent}" id="summary_content" readonly>
  						<textarea id="all_content" rows="10" th:text="${applyList.getApplyContent}" style="display:none; background-color: #ddd;" readonly></textarea>
  						<div class="input-group-append" style="position: absolute; right: 0; z-index: 10;">  						
   	 					<button class="btn" style="border: 0; height: 46px;" id="view_all">▼</button>
  						</div>
						</div>
                        </td>
                    </tr>
                </tbody>
            </table>
		</div>
    	<br>
    	<h4 class="board_title"><b th:text="${applyList.getStudentName}"></b>학생의 상담 일지</h4>
            <div class="table_conatiner">       
                     <table class="form_write">
                <tbody> 
               		<tr>
                        <td><label for="record_title">일지 제목</label></td>
                        <td colspan="4"><input type="text" id="save_title" th:if="${recordCount != 0}"  th:value="${recordList.getRecordTitle}"  readonly>
                        <input type="text" id="record_title" th:if="${recordCount == 0}"  ></td>
                    </tr>
                    <tr>
                        <td><label for="write_time">작성 일시</label></td>
                        <td>
                        	<input type="text" th:if="${recordCount != 0}"   th:value="${recordList.getWriteDate.split(':')[0]}+':'+${recordList.getWriteDate.split(':')[1]}" readonly>
                       		<input type="text" th:if="${recordCount == 0}"  placeholder="저장시 자동으로 등록됩니다." readonly>
                       	</td>        
                       	<td><label for="writer" style="padding: 0px 5px;">작성자</label></td>
                        <td>
                        	<input type="text" id="counselor" th:value="${counselorName}" readonly>
                       	</td>
                    </tr>
                    <tr>
                        <td><label for="content">상담 내용</label></td>
                        <td colspan="4"><textarea id="save_content" rows="10" th:if="${recordCount != 0}"   th:text="${recordList.getConsultationContent}" readonly></textarea>
                        <textarea id="record_content" rows="10" th:if="${recordCount == 0}" required></textarea></td>
                    </tr>
                    <tr>
                        <td colspan="4" class="form-buttons">
                            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#eventModal">상담 일정 등록</button>
                            <button class="btn btn-success" id="modify_record" style="display : none;">상담 일지 수정</button>
                            <button class="btn btn-success" id="save_record">상담 일지 저장</button>
                        </td>
                    </tr>
                 </tbody>
            </table>
		</div>		
	</section>
	
	<!-- Modal -->
	<div class="modal fade" id="eventModal" tabindex="-1"
		aria-labelledby="eventModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="eventModalLabel">상담 일정 등록</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"><img alt="" src="/images/close.svg"> </button>
				</div>
				<div class="modal-body" id="modal-event-details">
					<table class="form_write">
						<tbody>
							<tr>
								<td><label for="name">이름</label></td>
								<td><input type="text" id="student_name" th:value="${applyList.getStudentName}" readonly></td>
							</tr>
							<tr>
								<td><label for="studentId">학번</label></td>
								<td><input type="text" th:value="${applyList.getStudentNo}" readonly></td>
							</tr>
							<tr>
								<td><label for="department">학과</label></td>
								<td><input type="text" id="student_major" th:value="${applyList.getStudentMajor}" readonly></td>
							</tr>
							<tr>
								<td><label for="contact">연락처</label></td>
								<td><input type="text" id="student_tel_no" th:value="${applyList.getStudentTelNo}" readonly></td>
							</tr>
							<tr>
								<td><label for="appointmentTime">상담 일시</label></td>
								<td>
									<div style="display: flex;">
										<input type="date" style="height : 45px; margin-right : 5px;" id="new_date">
										<select id="new_time">
											<option value="">시간을 선택해주세요</option>
										    <option value="09:00:00">09:00</option>
										    <option value="10:00:00">10:00</option>
										    <option value="11:00:00">11:00</option>
										    <option value="12:00:00">12:00</option>
										    <option disabled>== 점심시간 ==</option>
										    <option value="14:00:00">14:00</option>
										    <option value="15:00:00">15:00</option>
										    <option value="16:00:00">16:00</option>
										    <option value="17:00:00">17:00</option>
										</select>
									</div>
								</td>
							</tr>
							<tr>
								<td><label for="consultationType">상담 분류</label></td>
								<td>
									<select id="new_consultation_category" style="width: 100%; max-width: unset;">
										<option value="심리상담" th:selected="${applyList.getConsultationCategory eq '심리상담'}">심리상담</option>
										<option value="익명상담" th:selected="${applyList.getConsultationCategory eq '익명상담'}">익명상담</option>
										<option value="위기상담" th:selected="${applyList.getConsultationCategory eq '위기상담'}">위기상담</option>
										<option value="진로상담" th:selected="${applyList.getConsultationCategory eq '진로상담'}">진로상담</option>
										<option value="취업상담" th:selected="${applyList.getConsultationCategory eq '취업상담'}">취업상담</option>
									</select>
								</td>
							</tr>
							<tr>
								<td><label for="consultationType">상담 방식</label></td>
								<td>
									<select id="new_consultation_way" style="width: 100%; max-width: unset;">
										<option value="대면" th:selected="${applyList.getConsultationWay eq '대면'}">대면</option>
										<option value="비대면" th:selected="${applyList.getConsultationWay eq '비대면'}">비대면</option>
									</select>
								</td>
							</tr>
							<tr>
								<td><label for="consultationType">신청 내용</label></td>
								<td>
									<textarea rows="1" id="new_apply_content" required></textarea>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer" id="modal-event-footers">
					<input type="button" id="save_consultation_schedule" class="btn btn-success" value="상담 일정 저장">
				</div>
			</div>
		</div>
	</div>
	
</article>
<footer th:replace="~{/layouts/counselorCopyright.html :: footer}"></footer>
</body>
<script src="/js/counselingRecord.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-..." crossorigin="anonymous"></script>
</html>