<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>상담 신청 내역</title>
<link href="/css/bootstrap/bootstrap.css" rel="stylesheet"
	crossorigin="anonymous">
<link href="/css/home.css" rel="stylesheet">
<link href="/css/board.css" rel="stylesheet">
<script src="/js/board.js"></script>

</head>
<body>
<header th:replace="~{/layouts/counselorHeader.html :: header}"></header>

<article class="container_layout">
	<nav th:replace="~{/layouts/counselorLnb.html :: counselorLnb}"></nav>
	<section class="contents">
		<h4 class="board_title"><b th:text="${applyList.getStudentName}"></b>학생의 상담 신청 내역</h4>
		<div class="table_conatiner">
            <table class="form_write">
                <tbody> 
                    <tr>
                        <td><label for="title">상담 분류</label></td>
                        <td>
                        	<input type="text" id="title" name="title" th:value="${applyList.getStudentName}" readonly>
                       	</td>        
                       	<td><label for="title" style="padding: 0px 5px;">학번</label></td>
                        <td>
                        	<input type="text" id="title" name="title" th:value="${applyList.getStudentNo}" readonly>
                       	</td>
                    </tr>
                    <tr>
                         <td><label for="title">상담 방식</label></td>
                        <td>
                        	<input type="text" id="title" name="title" th:value="${applyList.getConsultationCategory}" readonly>
                       	</td>
                       	<td><label for="title" style="padding: 0px 5px;">학과</label></td>
                        <td>
                        	<input type="text" id="title" name="title" th:value="${applyList.getStudentMajor}" readonly>
                       	</td>
                    </tr>
                    <tr>
                       <td><label for="title">상담 일시</label></td>
                        <td>
                        	<input type="text" id="title" name="title" th:value="${applyList.getConsultationDate.split(':')[0]}+'시 '+${applyList.getConsultationDate.split(':')[1]+'분'}" readonly>
                       	</td>
                       	<td><label for="title" style="padding: 0px 5px;">연락처</label></td>
                        <td>
                        	<input type="text" id="title" name="title" th:value="${applyList.getStudentTelNo}" readonly>
                       	</td>
                    </tr>
                    <tr>
                       <td><label for="title">진행 상태</label></td>
                        <td>
                        	<input type="text" id="title" name="title" 
                        	th:value="${applyList.getProgressStatus eq 'P' ? '상담 중' : 
                   			applyList.getProgressStatus eq 'C' ? '상담 완료' : 
                   			applyList.getProgressStatus eq 'S' ? '상담 중지' : 
                   			applyList.getProgressStatus eq 'B' ? '상담 전' : ''}" readonly>
                       	</td>
                       	<td><label for="title" style="padding: 0px 5px;">이메일</label></td>
                        <td>
                        	<input type="text" id="title" name="title" th:value="${applyList.getStudentEmail}" readonly>
                       	</td>
                    </tr>
                                        <tr>
                       <td><label for="title">첨부 파일</label></td>
                        <td>
                        	<input type="text" id="title" name="title" th:value="${applyList.getFileNo}" readonly>
                       	</td>
                       	<td><label for="title" style="padding: 0px 5px;">성별</label></td>
                        <td>
                        	<input type="text" id="title" name="title" th:value="${applyList.getStudentGender eq 'M' ? '남' : '여'}"  readonly>
                       	</td>
                    </tr>
                    <tr>
                        <td><label for="content">내용</label></td>
                        <td colspan="4"><textarea id="content" name="content" rows="10" th:text="${applyList.getApplyContent}" readonly></textarea></td>
                    </tr>
                    <tr>
                        <td colspan="4" class="form-buttons">
                            <button class="btn btn-success"  id="write_record">상담일지 쓰기</button>
                        </td>
                    </tr>
                </tbody>
            </table>
		</div>
	</section>
</article>

<footer th:replace="~{/layouts/counselorCopyright.html :: footer}"></footer>
</body>
<script src="/js/counseleeView.js"></script>
</html>