<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Insert title here</title>
<link href="/css/bootstrap/bootstrap.css" rel="stylesheet"
	crossorigin="anonymous">
<link href="/css/home.css" rel="stylesheet">
<link href="/css/board.css" rel="stylesheet">
<script src="/js/board.js"></script>

</head>
<body>
	<header th:replace="~{/layouts/counselorHeader.html :: header}"></header>

	<article class="container_layout">
		<nav th:replace="~{/layouts/counselorLnb.html :: counselorLnb}"></nav>

		<section class="contents">
			<h4 class="board_title">상담 일지 리스트(총 O개)</h4>
			<div class="search_container">
				<select id="category" name="category" class="category" required="">
					<option value="" disabled="" selected="">카테고리를 선택하세요</option>
					<option value="news">뉴스</option>
					<option value="tutorial">튜토리얼</option>
					<option value="review">리뷰</option>
					<option value="discussion">토론</option>
				</select>
				<div>
					<input type="text" id="searchInput" placeholder="검색어를 입력하세요..."
						onkeyup="filterTable()">
					<button id="searchButton" onclick="filterTable()"
						class="search_button">
						<img src="/images/counselor/search.svg">
					</button>
				</div>
			</div>
			<div class="table_containter">
				<table class="responsive_table">
					<colgroup>
						<col class="col1" style="width: 15%;">
						<col class="col2" style="width: 15%;">
						<col class="col1" style="width: 55%;">
						<col class="col1" style="width: 15%;">
					</colgroup>
					<thead>
						<tr>
							<th>상담 분류</th>
							<th>상담 방식</th>
							<th>일지 제목</th>
							<th>상담 일시</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td data-label="상담 분류">학업 상담</td>	
							<td data-label="상담 방식"><a href="./view?no=1">일대일 상담</a></td>
							<td data-label="일지 제목">김지현 학생의 학업 상담 일지1</td>
							<td data-label="상담 일시">2024-09-02</td>
						</tr>
						<tr>
							<td data-label="상담 분류">진로 상담</td>
							<td data-label="상담 방식"><a href="./view?no=1">채팅 상담</a></td>
							<td data-label="일지 제목">김지현 학생의 진로 상담 일지1</td>
							<td data-label="상담 일시">2024-08-23</td>
						</tr>
						
					</tbody>
				</table>
				<div class="btn_area">
					<a class="btn btn-success" href="/counselor/counselee-list">상담 신청 리스트</a>
				</div>
			</div>

			<div class="pagination">
				<button class="pagination_button" id="prevButton"
					onclick="prevPage()">이전</button>
				<button class="pagination_button" id="page1" onclick="goToPage(1)">1</button>
				<button class="pagination_button" id="page2" onclick="goToPage(2)">2</button>
				<button class="pagination_button" id="page3" onclick="goToPage(3)">3</button>
				<button class="pagination_button" id="nextButton"
					onclick="nextPage()">다음</button>
			</div>

		</section>

	</article>


	<footer th:replace="~{/layouts/counselorCopyright.html :: footer}"></footer>
</body>
</html>