<!DOCTYPE html>
<html th:fragment="main" lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{layouts/adminHeader :: head}"></th:block>
	<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
	<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js" defer></script>
</head>
<body class="sb-nav-fixed">
    <th:block th:replace="~{layouts/adminHeader :: nav}"></th:block>
    
    <div id="layoutSidenav">
        <th:block th:replace="~{layouts/adminSidebar :: sidebar}">	</th:block>
        
        <div id="layoutSidenav_content">
            <main>
                <h1>배너 등록</h1>
                <form id="bannerCreateForm" enctype="multipart/form-data">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>제목</th>
                                <td>
                                    <input type="text" name="bnr_ttl" id="bnr_ttl" class="form-control" required>
                                </td>
                            </tr>
                            <tr>
                                <th>게시순서</th>
                                <td>
                                    <input type="number" name="bnr_seq" id="bnr_seq" class="form-control" min="1" required>
                                </td>
                            </tr>
                            <tr>
                                <th>게시여부</th>
                                <td>
                                    <select name="bnr_pstg_yn" id="brn_pstg_yn" class="form-select" required>
                                        <option value="Y">예</option>
                                        <option value="N">아니요</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>내용</th>
                                <td>
                                    <div id="editor"></div>
                                </td>
                            </tr>
                            <tr>
                                <th>파일 (이미지)</th>
                                <td>
                                    <input type="file" name="fileInput" id="fileInput" class="form-control" accept="image/*" required>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <input type="button" value="저장" class="btn btn-primary" style="background-color:#4CAF50;" id="banner_submit">
                </form>
            </main>
            <th:block th:replace="~{layouts/adminFooter :: footer}"></th:block>
        </div>
    </div>
</body>

<script src="/js/pageBanner.js"></script>
<script>
	document.addEventListener('DOMContentLoaded', () => {
		createBanner();
	})
</script>

</html>
