<!DOCTYPE html>
<html th:fragment="main" lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="~{layouts/adminHeader :: head}"></th:block>
        <script src="/js/counselorList.js" defer></script>
    </head>
    <body class="sb-nav-fixed">
        <th:block th:replace="~{layouts/adminHeader :: nav}"></th:block>
        
        <div id="layoutSidenav">
            <th:block th:replace="~{layouts/adminSidebar :: sidebar}"></th:block>
            
            <div id="layoutSidenav_content">
                <main>
                	<h1>배너 목록</h1>
                    <div class="search-bar">
                        <select name="search-type">
                            <option value="name">이름</option>
                            <option value="advisor">상담사</option>
                        </select>
                        <input type="text" placeholder="상담사 검색">
                        <button><span class="material-symbols-outlined">search</span></button>
                        <button name="status" style="margin-left: auto;" onclick="location.href='/admin/banner-create';">
                            배너 등록
                        </button>
                    </div>
                    <table id="counselorTable">
                        <thead>
                            <tr>
                                <th>배너 번호</th>
                                <th>제목</th>
                                <th>게시 순서</th>
                                <th>게시 여부</th>
                                <th>등록일</th>
                                <th>배너 관리</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>마음 새싹 키우기</td>
                                <td>1</td>
                                <td>Y</td>
                                <td>2024-08-24 18:24:33</td>
                                <td>
									<button id="btn_modify" class="button">수정</button>
									<button id="btn_delete" class="button">삭제</button>
								</td>
                            </tr>
                            <!-- 추가적인 데이터 행을 여기에 추가하세요 -->
                        </tbody>
                    </table>
                </main>
        <th:block th:replace="~{layouts/adminFooter :: footer}"></th:block>
            </div>
        </div>
    </body>
</html>