<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<title>관리자 - 게시판 관리</title>
<th:block th:replace="~{layouts/adminHeader :: head}"></th:block>
<link rel="stylesheet" type="text/css" href="/css/boardManagement.css">
<script src="/js/boardManagement.js" defer></script>
</head>
<body class="sb-nav-fixed">
    <th:block th:replace="~{layouts/adminHeader :: nav}"></th:block>
    <div id="layoutSidenav">
        <th:block th:replace="~{layouts/adminSidebar :: sidebar}"></th:block>           
        <div id="layoutSidenav_content">

<main>
    <h1>게시판 관리</h1>
    <div class="controls">
        <button id="deleteSelected" class="delete-button">삭제</button>
        <a href="#" class="add-board" id="openModal">게시판 추가</a>
    </div>
    <table>
        <thead>
            <tr>
                <th><input type="checkbox" id="selectAll"></th>
                <th>게시판 이름</th>
                <th>게시판 번호</th>
                <th>권한 (읽기/쓰기)</th>
                <th>활성화</th>
                <th>게시글 관리</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox"></td>
                <td>상담사 게시판</td>
                <td>1</td>
                <td>상담사 / 관리자</td>
                <td>활성화</td>
                <td><a href="/admin/manage-post?boardNumber=1" class="control-button">게시글 관리</a></td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>공지사항</td>
                <td>2</td>
                <td>비회원 / 관리자</td>
                <td>활성화</td>
                <td><a href="/admin/manage-post?boardNumber=2" class="control-button">게시글 관리</a></td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>FAQ</td>
                <td>3</td>
                <td>비회원 / 관리자</td>
                <td>활성화</td>
                <td><a href="/admin/manage-post?boardNumber=3" class="control-button">게시글 관리</a></td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>상담 후기</td>
                <td>4</td>
                <td>비회원 / 회원</td>
                <td>활성화</td>
                <td><a href="/admin/manage-post?boardNumber=4" class="control-button">게시글 관리</a></td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>문의 게시판</td>
                <td>5</td>
                <td>회원 / 회원</td>
                <td>활성화</td>
                <td><a href="/admin/manage-post?boardNumber=5" class="control-button">게시글 관리</a></td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>자료실</td>
                <td>6</td>
                <td>비회원 / 관리자</td>
                <td>활성화</td>
                <td><a href="/admin/manage-post?boardNumber=6" class="control-button">게시글 관리</a></td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>상담 프로그램</td>
                <td>7</td>
                <td>비회원 / 관리자</td>
                <td>활성화</td>
                <td><a href="/admin/manage-post?boardNumber=7" class="control-button">게시글 관리</a></td>
            </tr>
        </tbody>
    </table>
    
    <!-- 게시판 추가 클릭시 열리는 모달 팝업 구조 -->
<div id="modal" class="modal">
    <div class="modal-content">
        <span id="closeModal" class="close">&times;</span>
        <h2>게시글 작성</h2>
        
        <form id="postForm">
            <div class="form-group">
                <label for="postTitle">제목</label>
                <input type="text" id="postTitle" name="postTitle" class="form-control" placeholder="제목을 입력하세요">
            </div>

            <div class="form-group">
                <label>게시글 옵션</label>
                <input type="checkbox" id="fiexUsable" value="Y"> 고정
                <input type="checkbox" id="postUsable" value="Y"> 게시여부
            </div>

            <div class="form-group">
                <label for="postCategory">게시판 분류</label>
                <select id="postCategory" name="boardNumber" class="form-control">
                    <option value="1" th:selected="${boardNumber == 1}">상담사 게시판</option>
		            <option value="2" th:selected="${boardNumber == 2}">공지사항</option>
		            <option value="3" th:selected="${boardNumber == 3}">FAQ</option>
		            <option value="6" th:selected="${boardNumber == 6}">자유게시판</option>
		            <option value="7" th:selected="${boardNumber == 7}">상담 프로그램</option>
                    <!-- 추가 카테고리 필요 시 여기에 추가 -->
                </select>
            </div>

            <div class="form-group">
                <label for="editor">내용</label>
                <!-- 에디터가 삽입될 위치 -->
                <div id="editor"></div>
            </div>

            <div class="form-group">
			    <label for="attachment">첨부파일</label>
			    <input type="file" id="attachment" name="postFile" multiple>
			</div>

            <div class="form-group">
                <button type="button" id="btnSubmit" class="submit-button">저장</button>
            </div>
        </form>
    </div>
</div>
    
    
</main>
<th:block th:replace="~{layouts/adminFooter :: footer}"></th:block>
</div>
</div>
</body>
</html>