<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<title>배정상담목록 페이지</title>
<th:block th:replace="~{layouts/adminHeader :: head}"></th:block>
<link rel="stylesheet" type="text/css" href="/css/sideBar.css">
<script src="/js/scheduleList.js" defer></script>
</head>
<body class="sb-nav-fixed">
    <th:block th:replace="~{layouts/adminHeader :: nav}"></th:block>
    <div id="layoutSidenav">
        <th:block th:replace="~{layouts/adminSidebar :: sidebar}"></th:block>           
        <div id="layoutSidenav_content">

<main>
	<h1>상담 일정 관리</h1>
	<form id="scheduleSearchForm" th:action="@{/admin/schedulelisting}" method="get">
    <div class="search-bar">
        <select name="search_type" th:value="${search_type}">
            <option value="" th:selected="${search_type == ''}">검색분류</option>
            <option value="student" th:selected="${search_type == 'student'}">내담자</option>
            <option value="counselor" th:selected="${search_type == 'counselor'}">상담사</option>
        </select>
        <input name="search_value" type="text" placeholder="이름으로 검색" th:value="${search_value}">
        <button>검색</button>
        <select name="status" style="margin-left: auto;" th:value="${status}" onchange="this.form.submit()">
            <option value="" th:selected="${status == ''}">기본순</option>
            <option value="counseling_date" th:selected="${status == 'counseling_date'}">상담 예정일순</option>
            <option value="student_name" th:selected="${status == 'student_name'}">내담자 이름순</option>
        </select>
    </div>
    </form>
    <table id="counselorTable">
        <thead>
            <tr>
            	<th>NO</th>
                <th>내담자 이름</th>
                <th>학번</th>
                <th>신청 번호</th>
                <th>상담분류</th>
                <th>이메일</th>
                <th>전화번호</th>
                <th>상담 예정일</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="info : ${schedules}">
            <td th:if="${pageno==null}" th:text="${schedules.size-infoStat.index}"></td>
            <td th:if="${pageno!=null}" th:text="${schedules.size+ea*(pageno-1)-infoStat.index}"></td>
            <td th:text="${info.getStudentName}"></td>
            <td th:text="${info.getStudentNumber}"></td>
            <td th:text="${info.getApplyNumber}"></td>
            <td th:text="${info.getCounselingClassifyName}"></td>
            <td th:text="${info.getStudentEmail}"></td>
            <td th:text="${info.getStudentTelNumber}"></td>
            <td th:text="${#strings.substring(info.counselingReservationDate, 0, 10)}"></td>
            </tr>
        </tbody>
    </table>
	<div class="container" >
	    <div class="pagination">
	    	<div th:if="${pageno!=1}">
	        <a class="page-link" th:href="@{/admin/schedulelisting(search_type=${search_type},search_value=${search_value},status=${status},pageno=1)}">&laquo;</a>
	        <a class="page-link" th:href="@{/admin/schedulelisting(search_type=${search_type},search_value=${search_value},status=${status},pageno=${pageno-1})}">&lsaquo;</a>
	        </div>
	        <div th:if="${pg==null || pg<1}">
	        	<a class="page-link active">1</a>
	        </div>
        	<div th:if="${pg!=null && pg>=1}">
        		<div th:each="page : ${#numbers.sequence(1,pg)}">
        			<div th:if="${pageno==page}">
        				<a class="page-link active">[[${page}]]</a>
        			</div>
	        		<div th:if="${pageno!=page}">
	        			<a class="page-link" th:href="@{/admin/schedulelisting(search_type=${search_type},search_value=${search_value},status=${status},pageno=${page})}">[[${page}]]</a>
	        		</div>
        		</div>
        	</div>
        	<div th:if="${pageno!=pg}">
	        <a class="page-link" th:href="@{/admin/schedulelisting(search_type=${search_type},search_value=${search_value},status=${status},pageno=${pageno+1})}">&rsaquo;</a>
	        <a class="page-link" th:href="@{/admin/schedulelisting(search_type=${search_type},search_value=${search_value},status=${status},pageno=${pg})}">&raquo;</a>
	    	</div>
	    </div>
	</div>
	<button class="btn btn-success" id="scheduleCalender">상담사일정표</button>
</main>

<div id="sidebarModal" class="sidebar-modal">
   <button id="closeSidebar"></button>
    <h2>상담사 세부정보</h2>
    <div id="modalContent">
        <!-- 모달에 표시될 상담사 세부 정보 -->
    </div>
</div>

<th:block th:replace="~{layouts/adminFooter :: footer}"></th:block>
</div>
</div>
</body>
</html>