<!DOCTYPE html>
<html th:fragment="main" lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
    	<title>상담 통계</title>
        <th:block th:replace="~{layouts/adminHeader :: head}"></th:block>
		<script src="https://uicdn.toast.com/chart/latest/toastui-chart.min.js" defer></script>
   		<link rel="stylesheet" href="https://uicdn.toast.com/chart/latest/toastui-chart.min.css">
		<script src="/js/statistics.js" defer></script>
    </head>
    <body class="sb-nav-fixed">
        <th:block th:replace="~{layouts/adminHeader :: nav}"></th:block>      
        <div id="layoutSidenav">
            <th:block th:replace="~{layouts/adminSidebar :: sidebar}"></th:block>         
            <div id="layoutSidenav_content">
                <main>
    				<h2>상담 통계</h2>
   					<div id="chart" style="width: 100%; height: 500px;"></div>           	
                </main>
        <th:block th:replace="~{layouts/adminFooter :: footer}"></th:block>
            </div>
        </div>
    </body>
</html>
